<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/WDD-330---Front-End-Development-II/js/fetchContent.js"></script>
    <link
      rel="stylesheet"
      href="/WDD-330---Front-End-Development-II/weeks/weatherApp/style.css"
    />
    <script src="/WDD-330---Front-End-Development-II/weeks/weatherApp/model.js"></script>

    <title>Weather App</title>
  </head>
  <body>
    <header></header>
    <div></div>

    <h1 id="City"></h1>
    <script>
      document.getElementById("City").innerHTML =
        localStorage.getItem("CityName");
    </script>

    <h2 id="temperature"></h2>
    <script>
      document.getElementById("temperature").innerHTML =
        localStorage.getItem("temperature");
    </script>

    <div id="apiData">
      <img id="iconView" />
      <script>
        var iconLink = localStorage.getItem("icon");
        var iconEl = document.getElementById("iconView");
        iconEl.src = iconLink;
      </script>
    </div>

    <br />
    <br />
    <div id="wrap">
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html'"
      >
        Back
      </button>
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/views/weatherDetails.html'"
      >
        More Details
      </button>
    </div>
    <br />
    <br />

    <a href="/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html"
      >Go back Home</a
    >

    <footer></footer>
  </body>
</html>
