<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/WDD-330---Front-End-Development-II/js/fetchContent.js"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="/WDD-330---Front-End-Development-II/weeks/weatherApp/images/favicon.png"
    />
    <link
      rel="stylesheet"
      href="/WDD-330---Front-End-Development-II/weeks/weatherApp/style.css"
    />
    <script src="/WDD-330---Front-End-Development-II/weeks/weatherApp/model.js"></script>

    <title>Weather App</title>
  </head>
  <body>
    <header></header>
    <div></div>

    <h1 id="City"></h1>
    <script>
      document.getElementById("City").innerHTML =
        localStorage.getItem("CityName") +
        " " +
        "(" +
        localStorage.getItem("country") +
        ")";
    </script>

    <p id="description"></p>
    <script>
      document.getElementById("description").innerHTML =
        localStorage.getItem("description");
    </script>

    <h2 id="temp"></h2>
    <script>
      document.getElementById("temp").innerHTML =
        localStorage.getItem("temperature");
    </script>

    <img id="iconView" />
    <script>
      var iconLink = localStorage.getItem("icon");
      var iconEl = document.getElementById("iconView");
      iconEl.src = iconLink;
    </script>

    <p id="feels_like"></p>
    <script>
      document.getElementById("feels_like").innerHTML =
        "Feels like " + localStorage.getItem("feels_like");
    </script>
    <br />
    <br />
    <br />
    <br />
    <div id="wrap">
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html', clearLocalStorage()"
      >
        Home
      </button>
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/views/weatherDetails.html'"
      >
        Details
      </button>
    </div>
    <br />
    <br />

    <footer></footer>
  </body>
</html>
