<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="/WDD-330---Front-End-Development-II/weeks/weatherApp/style.css"
    />
    <script src="/WDD-330---Front-End-Development-II/weeks/weatherApp/model.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/WDD-330---Front-End-Development-II/js/fetchContent.js"></script>
    <title>Weather App</title>
  </head>
  <body onload=" window.scrollTo(0, 0);">
    <header></header>

    <h1 id="City"></h1>
    <script>
      document.getElementById("City").innerHTML =
        localStorage.getItem("CityName") +
        " " +
        "(" +
        localStorage.getItem("country") +
        ")";
      window.addEventListener("load", setup);
    </script>

    <h2>5 Days Forecast</h2>

    <canvas id="myChart" width="400" height="150"></canvas>

    <div id="displayForecast"></div>
    <br />
    <br />

    <div id="wrap">
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/views/weatherDetails.html'"
      >
        Back
      </button>
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html'"
      >
        Home
      </button>
    </div>
    <br />
    <br />

    <footer></footer>
  </body>
</html>
