<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/WDD-330---Front-End-Development-II/js/fetchContent.js"></script>
    <link
      rel="stylesheet"
      href="/WDD-330---Front-End-Development-II/weeks/weatherApp/style.css"
    />

    <title>Weather App</title>
  </head>
  <body>
    <header></header>

    <p>Your City:</p>
    <div id="City"></div>
    <script>
      document.getElementById("City").innerHTML =
        localStorage.getItem("CityName") +
        " " +
        localStorage.getItem("StateName") +
        " " +
        localStorage.getItem("CountryName");
    </script>

    <h1>Forecast</h1>

    <h2>Weather 5 Days Forecast</h2>

    <div id="apiData">
      <p>this is the space for display details of the weather from API</p>
    </div>
    <div id="wrap">
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/views/weatherDetails.html'"
      >
        Back
      </button>
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html'"
      >
        Home
      </button>
    </div>

    <a href="/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html"
      >Go back Home</a
    >

    <footer></footer>
  </body>
</html>
