<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/WDD-330---Front-End-Development-II/js/fetchContent.js"></script>
    <link
      rel="stylesheet"
      href="/WDD-330---Front-End-Development-II/weeks/weatherApp/style.css"
    />

    <title>Weather App</title>
  </head>
  <body>
    <header></header>

    <h1 id="City"></h1>
    <script>
      document.getElementById("City").innerHTML =
        localStorage.getItem("CityName");
    </script>

    <h2>Forecast</h2>

    <h3>Weather 5 Days Forecast</h3>

    <!-- <table>
      <tr>
        <td>
          <p>Forecast temperature</p>
        </td>
        <td>
          <p id="forecast_temp"></p>
        </td>
      </tr>
      <script>
        document.getElementById("forecast_temp").innerHTML =
          localStorage.getItem("forecast_temp");
      </script>
    </table> -->

    <div id="wrap">
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/views/weatherDetails.html'"
      >
        Back
      </button>
      <button
        class="details"
        onclick="window.location.href='/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html'"
      >
        Home
      </button>
    </div>

    <a href="/WDD-330---Front-End-Development-II/weeks/weatherApp/index.html"
      >Go back Home</a
    >

    <footer></footer>
  </body>
</html>
