body{
    background-color: #85cef5;;
}
table {

    width: 100%;
    align-items: center; 
    justify-content: center; 

  }
  
  td {
    border: 1px solid #525252;
    padding: 5px;
    width: 50%;

  }
  



.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:  white;
    background-color: #0076b6;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", Verdana, sans-serif;
    padding: 10px 60px;
}

.btn:hover{
    color: #0076b6;
    background-color: white;
    box-shadow: -3px 15px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s; /* Add transition on hover */
}

.details {
    margin: auto;
    width: 15%;
    padding: 5px;

}

#wrap{
    display: flex;
    align-items: flex-start;

}

#apiData{
    text-align: center;
}

h1, h2, h3, p{
    text-align: center;

}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 30%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

#appIcon {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s ease-in-out;
}

#appIcon:active {
    transform: rotate(360deg)

}

#iconView{
    transition: transform 1s ease-in-out;
}

#iconView:hover {
    transform: scale(1.2)
}