body{
    background-color: #85cef5;
}
table {

    width: 60%;
    align-items: center; 
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;


  }
  
  td {
    border: 1px solid #525252;
    padding: 3px;
    width: 45%;
    background-color: #ffffff;

  }
  
  ul, li{
    list-style-type: none;
  }



.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:  white;
    min-height: 35px;
    background-color: #0076b6;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", Verdana, sans-serif;
    padding: 10px 60px;
}

.btn:hover{
    color: #0076b6;
    background-color: white;
    box-shadow: -3px 15px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s; /* Add transition on hover */
}

.details {
    margin: auto;
    width: 15%;
    padding: 5px;

}

#wrap{
    display: flex;
    align-items: flex-start;

}

#apiData{
    text-align: center;
}

#displayForecast{
    /* display: inline-flex;
    writing-mode: vertical-lr;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 45%; */
    overflow: auto;
    white-space: nowrap;
    border: 1px solid #0076b6;
    background: #c0ccd5;
    border-radius: 10px;
    

}


.forecastDetails {
  /* writing-mode: horizontal-tb; */
  margin-left: -1em;
  width: 200px;
  height: 100px;
  text-align: center; 
  display: inline-block;
  font-size: 15px;

}

.iconForecast{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* .forecastDetails li{
    flex: 0 0 50%;
} */

h1, h2, h3, p{
    text-align: center;

}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 30%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

#appIcon {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s ease-in-out;
}

#appIcon:active {
    transform: rotate(360deg)

}

#iconView{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s ease-in-out;
    
}

#iconView:hover {
    transform: scale(1.2)
}


/**
Customized scrollbar used in the forecast page
*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #53a6d3;
    border-radius: 10px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0076b6;
  }