body{
    background-color: #85cef5;;
}
table {

    width: 60%;
    align-items: center; 
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;

  }
  
  td {
    border: 1px solid #525252;
    padding: 5px;
    width: 50%;
    background-color: #ffffff;

  }
  
  ul, li{
    list-style-type: none;
  }



.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:  white;
    background-color: #0076b6;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", Verdana, sans-serif;
    padding: 10px 60px;
}

.btn:hover{
    color: #0076b6;
    background-color: white;
    box-shadow: -3px 15px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s; /* Add transition on hover */
}

.details {
    margin: auto;
    width: 15%;
    padding: 5px;

}

#wrap{
    display: flex;
    align-items: flex-start;

}

#apiData{
    text-align: center;
}

#displayForecast{
    display: inline-flex;
    writing-mode: vertical-lr;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 45%;
}


.forecastDetails {
  writing-mode: horizontal-tb;
  width: 250px;
  height: 100px;
  text-align: center;

}

.iconForecast{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* .forecastDetails li{
    flex: 0 0 50%;
} */

h1, h2, h3, p{
    text-align: center;

}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 30%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

#appIcon {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s ease-in-out;
}

#appIcon:active {
    transform: rotate(360deg)

}

#iconView{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s ease-in-out;
    
}

#iconView:hover {
    transform: scale(1.2)
}